/* шрифты   font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif; */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;

  font-size: 15px;
  line-height: 1.6;
  color: #333;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px 0;

  border: 0;
  background-color: #e5e5e5;
}
/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* INTRO */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100vh;

  background: url("../images/intro.png") center no-repeat;
  background-size: cover;
}

.intro-inner {
  width: 100%;
  max-width: 880;
  margin: 0 auto;
  text-align: center;
}

.intro-title {
  font-size: 150px;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
}
.intro-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 60px auto;

  background-color: #fff;
}

.intro-suptitle {
  font-size: 72px;
  color: #fff;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 20px;
}

/* HEADER  */

.header {
  width: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.header-logo {
  font-size: 30px;
  color: #fff;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* NAV */

.nav {
  font-size: 14px;
  text-transform: uppercase;
}
.nav-link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;
  color: #fff;
  text-decoration: none;

  transition: color 0.2s linear;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;

  background-color: #fce38a;
  transition: all 0.2s ease-in-out;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
.nav-link:hover:after,
.nav-link.active::after {
  display: block;
  width: 100%;
}
.nav-link:hover {
  color: #fce38a;
}

.nav-link.active {
  color: #fce38a;
}

/* BUTTON */

.btn {
  display: inline;
  vertical-align: top;
  padding: 8px 30px;

  border: 3px solid #fff;

  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;

  transition: background 0.2s linear, color 0.2s linear;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}

/* SLIDER */
.slider {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.slider-inner {
  display: flex;
  justify-self: space-between;
}
.slider-item {
  width: 23%;
  padding: 20px 0;
  margin: 10px auto;
  position: relative;

  border-top: 3px solid #fff;
  opacity: 0.7;

  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

.slider-num {
  font-size: 24px;
}

.slider-item.active {
  opacity: 1;
}

.slider-item.active::before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;

  background-color: #f38181;

  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
}

/* SECTION  */

.section {
  padding: 80px 0;
}

.section--devices {
  background: url("../images/devices-bg.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 0;
  margin-bottom: 50px;
}

.section--gray {
  background-color: #f8f8f8;
}
.section-header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 50px;

  text-align: center;
}

.section-suptitle {
  font-size: 24px;
  color: #333;
  font-family: "Kaushan Script", cursive;
}

.section-title {
  font-size: 30px;
  color: #333;
  text-transform: uppercase;
  position: relative;
}

.section-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 30px auto;

  background-color: #f38181;
}

.section-text {
  font-size: 15px;
  color: #999;
}

/* ABOUT */

.card {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.card-item {
  width: 30%;
  position: relative;

  background-color: #95e1d3;
}

.card-item:hover .card-img img {
  opacity: 0.4;
}


.card-item:hover .card-img.vitaliy {
  position: relative;
  animation: rotate 4s linear ;
  animation-fill-mode: forwards;
  z-index: 2;
}
@keyframes rotate{
  0%{
    transform: rotate3d(0, 1, 0, 0deg) scale(1) translateY(0);
    background: linear-gradient(to top, black, gold);
    border: none;
  }
  50%{
    background: linear-gradient(to top, grey, gold);
    border: 3px solid black;
    padding: 5px;
   

  }
  100%{
    transform: rotate3d(0, 1, 0, 360deg) scale(1.4) translateY(-50%);
    background: linear-gradient(to top, white, gold);
    border: 3px solid black;
    padding: 10px;
  }
}
.card-item:hover .card-text.vit{
  animation: opac 4s linear;
  animation-fill-mode: forwards;
}
@keyframes opac{
  0%{
    transform: rotate3d(0, 1, 0, 0deg) scale(1) translateY(0);
    top: 0px;
    opacity: 0;
  }
  100%{
    transform: rotate3d(0, 1, 0, 360deg) scale(1.4) translateY(-50%);
    top: -100px;
    opacity: 1;
  }
}


.card-item:hover .card-img {
  transform: translate3d(-10px, -10px, 0px);
}

.card-item:hover .card-text {
  opacity: 1;
}
.card-img img {
  display: block;
  transition: opacity 0.1s linear;
  width: 100%; /*моя вставка */
  
}
.card-img {
  background: linear-gradient(to bottom, #f38181, #fce38a);

  transition: transform 0.2s linear;
  
}

.card-text {
  width: 100%;

  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);

  transition: opacity 0.2s linear;
}

/* STATISTICS */
.statistics {
  background-color: #95e1d3;
}

.stat {
  display: flex;
}

.stat-item {
  flex: 1 1 0;
  padding: 70px 25px;

  border-left: 1px solid #b5eae0;

  text-align: center;
  color: #fff;
}

.stat-item:last-child {
  border-right: 1px solid #b5eae0;
}
.stat-count {
  margin-bottom: 10px;

  font-size: 72px;
  line-height: 1;
}
.stat-text {
  font-size: 14px;
  text-transform: uppercase;
}

/* SERVICES */

.services {
  display: flex;
}

.services-item {
  flex: 1 1 0;
  padding-right: 20px;
  padding-left: 80px;
  position: relative;
}

.services-icon {
  position: absolute;
  top: 0;
  left: 25px;
  z-index: 1;
}

.services-title {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

.services-text {
  font-size: 15px;
  color: #999;
}

/* DEVICES  */

.devices {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  position: relative;
}
.devices-item {
  display: block;
}
.devices-item--iphone {
  position: absolute;
  bottom: -80px;
  right: 0;
  z-index: 1;
}

/* WE DO */

.wedo {
  display: flex;
}
.wedo-item {
  width: 50%;
}

/* ACCORDION */

.accordion-item {
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
}
.accordion-item.active .accordion-header {
  border-bottom-color: #e5e5e5;
}
.accordion-item.active .accordion-content {
  display: block;
}
.accordion-item.active .accordion-header::after {
  transform: translateY(-50%) rotate(-45deg);
  margin-top: 5px;
}

.accordion-header {
  border: 1px solid #e5e5e5 transparent;
  cursor: pointer;

  padding: 15px 20px 15px 65px;
  position: relative;
}

.accordion-header::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;

  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;

  transform: translateY(-50%) rotate(135deg);
}

.accordion-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 1;

  transform: translateY(-50%);
}

.accordion-content {
  padding: 15px 20px;
  display: none;

  font-size: 15px;
  color: #999;
  font-style: italic;
  font-weight: 300;
}

.accordion-title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

/* REVIEWS */

.reviews {
  padding: 0 110px;
  position: relative;
}
.reviews-item {
  padding-left: 205px;
  position: relative;
}
.reviews-photo {
  border: 2px solid #95e1d3;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 145px;
}

.reviews-text {
  margin-bottom: 35px;

  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  color: #999;
}

.reviews-author {
  font-size: 24px;
  color: #333;
  font-family: "Kaushan Script", cursive;
}

.reviews-author::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  margin-right: 10px;

  background-color: #f38181;
}

.reviews-btn {
  font-size: 0;
  color: transparent;

  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.reviews-btn::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
}

.reviews-btn--prev {
  left: 0;
  transform: rotate(-45deg);
}

.reviews-btn--next {
  right: 0;
  transform: rotate(135deg);
}

.card-img-team{
  height: 100px;
  width: 100px;


}




